# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Streamlit
.streamlit/secrets.toml

# Local database
database/interview.db

# Generated reports
*.pdf

# IDE
.vscode/
.idea/

Interview_Report.pdf